* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    --twitter-color: #272727;
    --twitter-background:#272727;
    background-color: #000000;
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
.sidebar {
    text-decoration: none;
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
    background-color: black;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.sidebarOption {
    margin-top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    color: #e6ecf0;
    transition: background-color 100ms ease-out, color 100ms ease-out;
}
.sidebarOption:hover {
    background-color: #2A2A2A;
    border-radius: 30px;
}

.sidebarOption.active {
    color: #2A2A2A;
}
.sidebarOption a{
    text-decoration: none;
    color: #e6ecf0;
}
.sidebar__tweet {
    width: 100%;
    background-color: rgb(3, 0, 0);
    border: 1px solid #272727;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
}
.logout {
    height: 35px;
    width: 35px;
    margin-right: 13px;
}

.material-icons{
    padding: 10px;
}
.feed__header {
    border: 1px solid var(--twitter-background);
    position: sticky;
    top: 0;
    background-color: rgb(8, 0, 0);
    z-index: 100;
    padding: 20px 20px;
    display: flex;
}
.feed__header .header-content {
    display: flex;
    flex-direction: column; 
}
.feed__header h2 {
    color: #e6ecf0;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 40px; 
}
.feed__header h3 {
    color: #e6ecf0;
}
.notif{
    font-size: 24px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
nav{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around; 
    padding: 20px;  
    text-align: center;
    border-bottom: 1px solid var(--twitter-background);
}
nav li {
    color: #e6ecf0;
}
nav li:hover {
    text-decoration: underline;
}
nav li {
    color: #e6ecf0;
    margin-right: 200px;  
}

nav li:last-child {
    margin-right: 0;  
}


.widgets {
    background-color: #000000;
    flex: 0.3;
    display: flex;
    flex-direction: column;
}

.widgets__input {
    display: flex;
    align-items: center;
    background-color:#2A2A2A;
    padding: 2px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.widgets__input input {
    color: #e6ecf0;
    font-size: 20px;
    border: none;
    background-color:#2A2A2A;
}
.widgets__searchIcon {
    color: gray;
}
.widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #16181C;
    border-radius: 20px;
    color: #e6ecf0;
    font-size: 18px;
    font-weight: 800;
}

.widgets__widgetContainer{
    color: #e6ecf0;
    font-size: 18px;
    font-weight: 800;
}
.widgets__widgetContainer p{
    font-size: 14px;
}
.trending{
    color: #e6ecf0;
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #16181C;
    border-radius: 20px;
}